# ignorar librerias en node_modules
node_modules/

# ignorar directorio descriptivo de webstorm
.idea/

# ignorar direcotrio de distribucion
dist/

# ignorar directorio de compilacion de documentacion compodoc
documentation/

# ignorar archivo de configuracion del package.json
package-lock.json
